* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  background-color: gray;
}

canvas#canvas {
  width: 80%;
  height: 80%;
  background-color: black;
  border: 10px red solid;
  margin: 50px;
}

img.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  height: 32px;
  width: 32px;
}

img.hidden {
  visibility: hidden;
}

div#captions {
  bottom: 50px;
  color: white;
  display: block;
  font-family: sans-serif;
  font-size: 2.5em;
  font-variant: small-caps;
  font-weight: bold;
  position: fixed;
  text-align: center;
  text-shadow: 0 0 0.2em grey;
  width: 100%;
  /* TODO: remove */
}

div#player {
  position: absolute;
  visibility: hidden;
}
